<ion-header>
    <ion-navbar color="danger">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Pesquisa de <b>Medicamentos</b></ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
      <div item-end>
        R$20,00
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
